.text {
	-fx-font-family: "SBT-NewCinemaA Std D";
	-fx-font-size: 12;
}

.text-area .content {
	-fx-background-color: #CED4E4;
}

.text-field {
	-fx-background-color: #CED4E4;
}

.label {
	-fx-text-fill: black;
}
